<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your email</title>
</head>
<body>
    <h1 style="padding:10px;background-color:rgb(15 118 110);color:white;">Gorilla Fund</h1>
    <p style="padding-left:11px;font-size:18px;">Please verify your email. Copy below code and use that for verify your email.</p>
    <p style="padding-left:11px;font-size:18px;">{{code}}</p>
</body>
</html>